$white : #fefefe;
$black : #1E1400;

$medium-grey: #999;
$light-grey: #ccc;
// BACKGROUNDS
$bgTop : #162538;
$bgBottom : #24273A;
$ctTop : #00999E;
$ctBottom : #005B97;

// BUTTONS (F -> fill, S -> stroke)
$btnShootF : #FF4542;
$btnShootS : #E23B3B;

$btnPrefsF : #09AB54;
$btnPrefsS : #4BBF6A;