$white : #fefefe;
$black : #1E1400;

$medium-grey: #999;
$light-grey: #ccc;

// BACKGROUNDS
$bgTop : #666666;
$bgBottom : #1e1e1e;

$ctTop : #00999E;
$ctBottom : #005B97;

// success
$ccTop : #29CC46;
$ccBottom : #247625;

// failure
$iccTop : rgb(252, 67, 54);
$iccBottom : #c9291e;

// BUTTONS (F -> fill, S -> stroke)
$btnShootF : #FF4542;
$btnShootS : rgb(237, 80, 80);

$btnPrefsF : #09AB54;
$btnPrefsS : #4BBF6A;