/* 
POSITIONING
BOX-MODEL
FONTS
APPEARANCE
OTHER 
*/
.main__content{
    width: 63%;
    position: relative;
    top: 5%;
    
    margin: auto;
    padding: 10px 0;

    height: 740px;
    
    background: linear-gradient($ctTop, $ctBottom);
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 105px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 105px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 105px 5px rgba(0,0,0,0.75);
}

@media screen and ( max-width: 1200px ) {
    .main__content{
        width: 80%;
    }
}

@media screen and ( max-width: 900px ) {
    .main__content{
        width: 90%;
    }
}

@media screen and ( max-width: 580px ) {
    .main__content{
        min-height: 100%;
        position: static;
        width: 100%;
        height: auto;
        
        margin: 0;
        padding: 0;

        border-radius: 0;
    }
}

.main__content__container{ 
    margin: 20px 0;
}


.main__content__buttons{
    display: flex;

    div{
        margin: 0 auto;
    }
}

@media screen and ( max-width: 560px ) {
    .main__content__buttons{          
        margin: 0;
        padding: 0;
    }
}

#btnShoot{
    text-transform: uppercase;
    width: 150px;
    
    background-color: $btnShootF;
    border: 1px solid $btnShootS;
    border-radius: 10px;
    
    color: $white;
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.5em;
    
}

#btnPrefs{
    width: 50px;
    
    font-size: 0;
    
    background: url(../src/cog.svg) no-repeat center center;
    background-size: 30px;
    background-color: $btnPrefsF;
    border: 1px solid $btnPrefsS;
    border-radius: 10px;
}