.correct{
    background: linear-gradient($ccTop, $ccBottom);  
}

.incorrect{
    background: linear-gradient($iccTop, $iccBottom);
}

.correct, .incorrect{
    height: 100vh;

    .header__logo img{
        height: 200px;
    }
}

@media screen and ( min-width: 581px ) {
    .correct, .incorrect{
        height: 740px;
    }
}

.main__content__response{
    display: none;
    margin: 25px auto;
    width: 100%;
   
    grid-gap: 30px;

    h1{
        padding: 15px 0;
        color: $white;
        font-weight: 800;
        
        line-height: 55px; 
    }

    p{    
        text-align: center;
        font-size: 1.8rem;
        color: $white;
        font-weight: 400;
    }

    svg{
        margin: 0 auto;
        width: 100px;

        .svgcolor{
            fill: $white;
        }
    }
}

.btnResponse{
    height: 60px;
    margin: 0px auto;
    width: 300px;

    background-color: #999999;
    border: 1px solid #7B7B7B;
    border-radius: 10px;
    
    color: $black;
    font-family: Raleway;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: inherit;
}

@media screen and ( max-width: 580px ) {
    .btnResponse{
        width: 95%;
    }
}