.main__content__answers{
    display: none;
    max-width: 950px;
    
    padding: 30px;
    margin: 5px auto;
    
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media screen and ( max-width: 520px ) {
    .main__content__answers{
        padding: 30px 15px;
    }
}

button{
    width: 100%;

    margin: 0 auto;

    background: $medium-grey;
    border: 1px solid $light-grey;
    border-radius: 5px;
    color: #000000;

    font-family: Raleway;
    font-size: 1.5em;
    font-weight: 300;   
}

button, .active{
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

button:hover,
button:focus,
button:active {
    transform: scale(1.02);
}

@media screen and ( max-width: 520px ) {
    .main__content__answers button{
        grid-column: 1 / 3;
    }
}