.main__content__question{
    display: none;
}

@media screen and ( max-width: 520px ) {
    .main__content__question{
        padding: 40px 0;
    }
}

.question__card{
    display: grid;
    height: 250px;
    width: 440px;

    margin: 0 auto;
    padding: 15px 30px;
    
    background: url(../src/card.svg) no-repeat;
    
    align-items: center;
    box-sizing: border-box;

    p{
        text-align: center;
        font-size: 1.3rem; 
        
        line-height: 25px;
    }

    .question__card__category{
        font-style: italic;  

        align-self: center;
    }

    .question__card__question{
        margin: 5px auto;
        padding: 30px 0;
        
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    
        word-wrap: break-word;

        align-self: start;     
    }
}

@media screen and ( max-width: 520px ) {
    .question__card__category{
        padding: 15px 0;
    }
}

@media screen and ( max-width: 520px ) {
    .question__card__question{
        padding: 15px 0;
    }
}

@media screen and ( max-width: 520px ) {
    .question__card{
        height: auto;
        width: 85%;

        background: $white;
    }
}